.card {
	margin-bottom: $base-spacing * 2;
	// padding: $base-spacing * 2;

	&__link {
		color: inherit;
	}

	.heading--primary {
		font-size: 1.4rem;
		margin-top: 0;
		margin-bottom: $base-spacing / 2;
	}

	p:not(.article__meta-info) {
		&:first-of-type {
			font-weight: 400;
			font-size: inherit;
			letter-spacing: inherit;
		}
	}

	.article__meta-info {
		font-weight: 400;
		font-size: 0.875rem;
		letter-spacing: inherit;
		margin-top: 0;
		margin-bottom: 8px;
		padding-left: 0;
	}

	// &--message {
	// 	// box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.2);
	// 	// border: 1px solid rgba(0, 0, 0, 0.2);
	// 	border-radius: 0.6rem;
	// 	margin-top: $base-spacing * 3;
	// 	margin-bottom: $base-spacing * 4;
	// }
}
