.card {
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
	border: 1px solid rgba(0, 0, 0, 0.09);
	border-radius: 3px;
	margin-bottom: $base-spacing * 2;
	padding: $base-spacing * 2;

	&__link {
		color: inherit;
	}
}
