// Horizontal list //
.h-list {
	// margin-top: $base-spacing * 2;

	&__item {
		display: inline-block;
		list-style: none;

		& + & {
			margin-left: $base-spacing * 2;
		}
	}
}

//	Vertical list //
.v-list {
	padding-left: 0;

	&__item {
		display: block;
		margin-bottom: $base-spacing;
		margin-top: 0;
		list-style: none;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
