// Horizontal list //
.h-list {
	display: flex;
	flex-wrap: wrap;

	&__item {
		list-style: none;
		flex: 1 1 50%;
		margin-bottom: $base-spacing;

		@media (min-width: 768px) {
			flex: 1 1 20%;
		}
	}
}

//	Vertical list //
.v-list {
	padding-left: 0;

	&__item {
		display: block;
		margin-bottom: $base-spacing;
		margin-top: 0;
		list-style: none;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
