<!doctype html>
<html class="no-js" lang="en-gb">

    {{ partial "head.html" . }}

    <body>

        {{ partial "header.html" . }}

		<main role="main" class="o-content__body">
            <article>
                <section class="article__main-body">
					<header class="article__main-header">
						<h1>{{ .Title }}</h1>
						<p class="article__meta-info">by {{ .Params.Author }} &centerdot; <time datetime="{{ .Date.Format "2006-01-02 15:04" }}">{{ .Date.Format "January 02, 2006" }}</time> &centerdot; {{ .ReadingTime }} min read</p>

						<ul class="h-list">
							{{ range .Params.tags }}
							<li class="h-list__item">
								<a class="article__meta-tag" href="/tags/{{ . | urlize }}">{{ . | humanize}}</a>
							</li>
							{{ end }}
						</ul>
					</header>
					<div class="o-content__main">
						{{ .Content }}
					</div>
                </section>

                <footer>
                    <p>This page was last updated on {{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }} {{ .Date.Format "January 2006" }}</p>
                </footer>
            </article>
        </main>

        {{ partial "footer.html" . }}

    </body>

</html>
