html {
	font-family: 'Space Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	line-height: 1.25;
}

body {
	background: $palette-background;
	font-size: 16px;
	width: calc(100vw - 10vw);
	margin: 0 auto;
}

ul {
	margin: 0;
	padding: 0;

	ul, ol {
		margin-left: $base-spacing;
	}

	// li + li {
	// 	margin-top: $base-spacing / 2;
	// }
}

h1, h2, h3, h4, h5 {
	font-weight: 900;
	margin: 0;
	color: $palette-headers;
	line-height: 1;
	font-family: 'Spectral', serif;
}

h1, h2 {
	margin-bottom: $base-spacing;
}

h3, h4 {
	color: $palette-sub-header;
	margin-bottom: $base-spacing / 2;
}

h5 {
	color: $palette-sub-header;
	margin-bottom: $base-spacing / 3;
}

p {
	color: $palette-copy;
	line-height: 1.48;
	margin-top: 0;

	&:first-of-type {
		color: #e2e2e2;
	}
}

ul {
	margin-top: 0;
	margin-bottom: $base-spacing;
	padding-left: 1.25rem;

	ul {
		margin-bottom: 0;
	}

	li {
		color: $palette-copy;
	}
}

a {
	color: rgba($palette-links, 0.95);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: 3px auto $palette-highlight;
	}

	&[rel="noopener"] {
		text-decoration: underline;
	}
}

blockquote {
	border-left: 3px solid rgba($palette-plain, 0.15);
	padding-left: $base-spacing;
	margin-left: 0;

	p {
		font-weight: 500;
		padding-left: $base-spacing;
		letter-spacing: 0;
		font-style: italic;

		&:first-of-type {
			font-weight: 500;
		}
	}
}

p {
	&:last-of-type {
		margin-bottom: 0;
	}
}

section {
	& + & {
		margin-top: $base-spacing * 2;
	}
}


[data-grid='row'] {
	lost-flex-container: row;

	> * {
		width: 100%; // this is for any angular selectors, otherwise flex box doesn't work
	}
}
