.article {
	&__main-header {
		text-align: center;
		margin-bottom: 16px;
	}

	&__main-body {
		width: 960px;
		max-width: 100%;
		margin: 0 auto;
	}

	&__meta-info {
		// color: rgba(0, 0, 0, 0.54);
		font-size: 14px;
		margin-top: 6px;
		margin-bottom: 0;
	}
}


.article__main-header li.h-list__item + .h-list__item {
    margin-left: 2px;
}
