.article {
	&__main-header {
		text-align: center;
		margin-bottom: 16px;
	}

	&__main-body {
		width: 960px;
		max-width: 100%;
		margin: 0 auto;

		p {
			&:first-of-type {
				font-size: 1.4rem;
				font-weight: 600;
				letter-spacing: -0.75px;
			}
		}

		h2, h3 , h4 {
			margin-top: 16px;
		}
	}

	&__meta-info {
		// color: rgba(0, 0, 0, 0.54);
		font-size: 14px;
		margin-top: 6px;
		margin-bottom: 0;
	}
}

.article__main-header li.h-list__item + .h-list__item {
	margin-left: 2px;
}


[role="navigation"] {
	.h-list__item {
		a {
			padding: 8px 16px;
		}
	}

	.h-list__item + .h-list__item {
		border-left: 1px solid #c1c1c1;
	}
}

[role="navigation"] .h-list__item a {
	padding: 8px 16px;
}
