.article {
	&__main-header {
		width: 960px;
		max-width: 100%;
		margin: 0 auto $base-spacing * 2;

		& ~ .article__main-body {
			padding-top: 0;
		}
	}

	&__main-body {
		background: #fff;
		border-radius: 4px;
		width: 960px;
		max-width: 100%;
		margin: 0 auto;
		padding: $base-spacing * 3;
		box-sizing: border-box;

		h2, h3, h4 {
			margin-top: $base-spacing * 2;
		}

		> p {
			&:first-of-type {
				font-size: 1.4rem;
				font-weight: 700;
				letter-spacing: -0.75px;
			}
		}

		.article__meta-info {
			font-weight: 400;
			font-size: 0.875rem;
			letter-spacing: inherit;
			margin-top: 0;
			margin-bottom: 8px;
			padding-left: 0;
		}
	}

	&__meta-info {
		color: rgba(0, 0, 0, 0.54);
		font-weight: 400;
		font-size: 0.875rem;
		letter-spacing: inherit;
		margin-top: 0;
		margin-bottom: 8px;
		padding-left: 0;
	}

	&__meta-tag {
		background: #e4e4e4;
		padding: $base-spacing / 2;
		border-radius: 4px;
		font-size: 0.6rem;
		text-transform: uppercase;

		&--article {
			background: #fac800;
		}
	}

	&__foot-note {
		font-size: 0.875rem;
		font-weight: 800;
		margin-top: $base-spacing;
	}
}

.article__main-header li.h-list__item + .h-list__item {
	margin-left: 2px;
}
