.footer {
	&__main-content {
		margin: $base-spacing * 8 auto;
	}

	.h-list {
		padding-left: 0;
		padding-top: $base-spacing;
		border-top: 1px solid rgba($palette-highlight, 0.5);

		@media (min-width: 768px) {
			border-top: 0;
			padding-top: 0;
		}
	}
}
