.masthead {
	padding: 16px 0;
	text-align: center;
}

.site-info {
	font-size: 42px;
	font-weight: 900;
	display: inline-block;
	text-align: center;

	&__title {
		display: block;
		position: relative;

		@media screen and (min-width: 48em) {
			display: inline-block;
			margin-right: 16px;
			padding-right: 16px;

			&::after {
				content: '·';
				display: inline-block;
				position: absolute;
				right: -8px;
			}
		}
	}

	&__sub-title {
		display: inline;
	}
}
