.c-masthead {
	padding: $base-spacing * 3 0 $base-spacing * 2;
	lost-column: 1/1 0;

	@media (min-width: 768px) {
		padding: $base-spacing * 6 0 $base-spacing * 2;
		lost-column: 4/12 0;
	}
}

.site-info {
	font-size: 1.25rem;
	font-weight: normal;
	display: inline-block;
	text-align: left;
	margin-bottom: $base-spacing * 4;

	@media (min-width: 768px) {
		margin-bottom: $base-spacing * 8;
	}

	&__title {
		color: $palette-plain;
		display: block;
		position: relative;
		margin: 0 0 $base-spacing 0;

		&:first-of-type {
			color: $palette-highlight;
			text-transform: uppercase;
		}

		& + & {
			margin-left: 0;
		}
	}
}
