[role="navigation"] {
	.h-list {
		padding: 0;
	}

	.h-list__item {
		display: block;
		text-align: left;

		a {
			display: block;
			font-size: 1.5rem;
			line-height: 1.7;
			// padding: 3vw;

			// @media screen and (min-width: 30em) {
			// 	padding: $base-spacing / 2 $base-spacing * 2;
			// }
		}
	}

	.h-list__item + .h-list__item {
		margin-left: 0;
	}
}
