<footer class="footer footer__main-content">
	<div class="card card--message">
		<h4>I'm designing &amp; building this blog "live" and iteratively.</h4>
		<p>I believe that coding in the open promotes sharing, enables better and faster feedback and provides a great opportunity for learning. Because of this things will inevitably change and possibly break but that's more than ok.</p>
		<p>You can <a href="mailto:chris@gbbns.co" rel="noopener">email me to let me know</a>.</p>
		<p>In the meantime feel free to browse <a href="https://github.com/gbbns/gbbns.co" rel="noopener">the source code</a> and <a href="https://github.com/gbbns/gbbns.co/commits/master" rel="noopener">commit history</a>, and if you like <a href="https://github.com/gbbns/gbbns.co/issues" rel="noopener">raise an issue</a>!</p>
	</div>

    <p><a href="mailto:{{ .Site.Params.email }}" rel="noopener">{{ .Site.Params.email }}</a></p>

	<nav>
		<ul class="h-list">
			{{ range .Site.Menus.footer }}
			<li class="h-list__item">
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>

    <ul class="h-list ">
        <li class="h-list__item">
            <a href="https://github.com/{{ .Site.Params.github }}" rel="noopener">GitHub</a>
        </li>
        <li class="h-list__item">
            <a href="https://www.instagram.com/{{ .Site.Params.insta }}" rel="noopener">Instagram</a>
        </li>
        <li class="h-list__item">
            <a href="https://twitter.com/{{ .Site.Params.twitter }}" rel="noopener">Twitter</a>
        </li>
        <li class="h-list__item">
            <a href="http://uk.linkedin.com/in/{{ .Site.Params.linkedin }}" rel="noopener">LinkedIn</a>
        </li>
        <li class="h-list__item">
            <a href="http://500px.com/{{ .Site.Params.fiveHundredPx }}" rel="noopener">500px</a>
        </li>
    </ul>

    <p>&copy; {{ .Date.Format "2006" }} {{ .Site.Params.Author }} - All rights reserved.</p>
</footer>
