<section class="article__main-body">
	{{ range first 1 (.Data.Pages.GroupByDate "2006") }}
		<h2> Posted So Far in {{ .Key }}</h2>
		<ul>
			{{ range .Pages }}
			<li>
				<a href="{{ .Permalink }}">
					{{ .Title }}
				</a>
				<span>- {{ .Date.Format "Mon, 2 Jan, 2006" }} [{{ .Type | humanize }}]</span>
			</li>
			{{ end }}
		</ul>
	{{ end }}

	{{ range .Data.Pages.GroupByDate "2006" }}
		{{ if ne .Key "2018" }}
		<h3>{{ .Key }}</h3>
		<ul>
			{{ range .Pages }}
			<li>
				<a href="{{ .Permalink }}">
					{{ .Title }}
				</a>
				<span>- {{ .Date.Format "Mon, 2 Jan, 2006" }} [{{ .Type | humanize }}]</span>
			</li>
			{{ end }}
		</ul>
		{{ end }}
	{{ end }}
</section>
