<section class="article__main-content">
	{{ range first 1 (.Data.Pages.GroupByDate "2006") }}
		<h2> Posted So Far in {{ .Key }}</h2>
		<ul class="v-list">
			{{ range .Pages }}
			<li class="v-list__item">
				<span class="article__meta-tag article__meta-tag--article">{{ .Type | humanize }}</span>
				<a href="{{ .Permalink }}">
					<span class="article-__title">{{ .Title }}</span>
					<span class="article__meta-info">{{ .Date.Format "Mon, 2 Jan, 2006" }}</span>
				</a>
			</li>
			{{ end }}
		</ul>
	{{ end }}

	{{ range .Data.Pages.GroupByDate "2006" }}
		{{ if ne .Key "2018" }}
		<h3>{{ .Key }}</h3>
		<ul class="v-list">
			{{ range .Pages }}
			<li class="v-list__item">
				<span class="article__meta-tag article__meta-tag--article">{{ .Type | humanize }}</span>
				<a href="{{ .Permalink }}">
					<span class="article__title">{{ .Title }}</span>
					<span class="article__meta-info">{{ .Date.Format "Mon, 2 Jan, 2006" }}</span>
				</a>
			</li>
			{{ end }}
		</ul>
		{{ end }}
	{{ end }}
</section>
