{{ $paginator := .Paginate (where .Data.Pages "Type" "note") 5 }}

<section>
    <article>
        <ul class="v-list">
            {{ range $paginator.Pages }}
            <li class="v-list__item card">
                <a href="{{ .RelPermalink }}" class="card__link">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Summary }}</p>
                    <p>{{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }} {{ .Date.Format "January 2006" }}</p>
                </a>
            </li>
            {{ end }}
        </ul>
    </article>
</section>
