{{ define "main" }}
	<div class="article__main-body article--home">
		<section>
			<h1 class="heading--primary">{{ .Title }}</h1>
			{{ .Content }}
		</section>

		<section>
			<h2>Articles</h2>

			<div class="card">
				{{ range first 1 (where .Data.Pages "Type" "article") }}
				<h3 class="heading--primary">
					<a href="{{ .Permalink }}">
						{{ .Title }}
					</a>
				</h3>
				<p class="article__meta-info" itemscope itemtype="http://schema.org/Person">by <span itemprop="author">{{ .Params.Author }}</span> &centerdot; <time datetime="{{ .Date.Format "2006-01-02 15:04" }}" itemProp="datePublished">{{ .Date.Format "January 02, 2006" }}</time> &centerdot; {{ .ReadingTime }} min read</p>
				<p>{{ if isset .Params "excerpt" }}{{ .Params.excerpt }}{{ else }}{{ .Summary }}{{ end }}</p>
				{{ end }}
			</div>

			<div>
				<h4>Still fresh</h4>
				<ul>
					{{ range first 4 (after 1 (where .Data.Pages "Type" "div")) }}
					<li>
						<a href="{{ .Permalink }}">
							{{ .Title }}
						</a>
						<span><time datetime="{{ .Date.Format "2006-01-02 15:04" }}" itemProp="datePublished">{{ .Date.Format "Mon, 2 Jan, 2006" }}</time></span>
					</li>
					{{ end }}
				</ul>
			</div>

		</section>

		<section>
			<h3>Latest notes</h3>
			<div class="card">
				{{ range first 1 (where .Data.Pages "Type" "note") }}
					<h3 class="heading--primary">
						<a href="{{ .Permalink }}">
							{{ .Title }}
						</a>
					</h3>
					<p class="article__meta-info">by {{ .Params.Author }} &centerdot; <time datetime="{{ .Date.Format "2006-01-02 15:04" }}">{{ .Date.Format "January 02, 2006" }}</time> &centerdot; {{ .ReadingTime }} min read</p>
					<p>{{ if isset .Params "excerpt" }}{{ .Params.excerpt }}{{ else }}{{ .Summary }}{{ end }}</p>
				{{ end }}
				</div>

			{{ $notes := where .Data.Pages "Type" "note" }}

			{{ if gt 1 (len $notes) }}
				<div>
					<h4>Still fresh</h4>
					<ul>
					{{ range first 4 (after 1 (where .Data.Pages "Type" "note")) }}
						<li>
							<a href="{{ .Permalink }}">
								{{ .Title }}
							</a>
							<span><time datetime="{{ .Date.Format "2006-01-02 15:04" }}">{{ .Date.Format "Mon, 2 Jan, 2006" }}</time></span>
						</li>
					{{ end }}
					</ul>
				</div>
			{{ end }}

		</section>

	</div>

{{ end }}
