$base-spacing: 8px;

$palette-background: #000;
$palette-plain: #fff;
$palette-headers: #6d5700;
$palette-sub-header: #757575;
$palette-links: #fac802;
$palette-copy: #a3a3a3;
$palette-highlight: $palette-links;
